.App {
  display: flex;
  flex-direction: row; /* Changed to row for sidebar layout */
  height: 100vh;
  background-color: #161a25;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  margin-left: 240px; /* Default margin for expanded sidebar */
  transition: margin-left 0.3s ease;
}

.main-content.collapsed {
  margin-left: 80px; /* Margin for collapsed sidebar */
}
